body {background-color: black;}

h1 {color: white;
margin-left: 725px;}
img {
            width: 400px;
            height: 250px;
            border: 2px;
        }
p {color: white;
margin-left: 700px;

}
h3 {color: white;
    margin-left: 725px;
}