@charset "UTF-O8";
#container {
    position: relative;
    height: 500px;
    padding: 10px;
    background-color: purple;
    background-image: url(Imagens/target001.png);
    background-size: 100% 100%;
}
#conteudo {
    
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: yellow;
    left: 50%;
    top: 50%;
    /*só é possivel mexer nas posições top,left,right e bottom se o position for absolute*/
    transform: translate(-50%,-50%);
}