@charset "UTF-08";

* {
    font-family: Arial, Helvetica, sans-serif;
    }

body {
    background-image: linear-gradient(to right,#639bbe,#2986d8);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #003c8baf;
    width: 800px;
    padding: 10px;
    margin: auto; /*sempre centraliza independente do tamanho da tela*/
}

h1 {
    color: #F25774;
    text-align: center;
    text-shadow: 1px 1px 2px #8d2e3dbe;

}

h2 {
    color: #033E8C;

}
p {
    text-align: justify;
}