@charset "UTF-O8";

body {
  font-family: Arial, Helvetica, Sans-serif;
}

table {
  border-collapse: collapse;
  width: 600px;
}

td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}